/* -----------------------HEADER--------------*/
header {
    background-color: #e3e3e3;

    img {
        height: 150px;
    }

    .menu-de-todos {
        background-image: linear-gradient(to top, #a7a4a2, #585858);

        .container-fluid {
            align-items: center;

            .titulo-arriba {
                font-size: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-weight: 900;
                text-align: center;

                .titulo-principal {
                    font-size: 30px;
                    color: #891519;
                    text-align: center;
                }
            }

            .menu-bot {
                border: 4px black dotted;
                background-color: #891519;
            }

            .nav-k {
                text-align: center;
                justify-content: flex-end;

                ul li a {
                    position: relative;
                    display: block;
                    margin: 5px;
                    color: black;
                    font-weight: 600;
                }

                ul li a::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0%;
                    height: 3px;
                    background: #579d9c;
                    transition: .5s;
                }

                ul li a::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 0;
                    height: 3px;
                    background: #f9557b;
                    transition: .5s;
                }

                ul li:hover a {
                    color: #f9c35e !important;
                }

                ul li:hover a::before {
                    width: 50%;
                    transform: translate(100%);
                }

                ul li:hover a::after {
                    width: 50%;
                    transform: translate(-100%);
                }
            }

        }
    }
}