.titulo-secundario {
    background-image: url(https://static.wixstatic.com/media/8a3e6d_0b1e2bf057fa4d78a69db402aa6a7846.jpg/v1/fill/w_1903,h_889,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/8a3e6d_0b1e2bf057fa4d78a69db402aa6a7846.jpg);
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 280px;
    padding-bottom: 200px;

    h2 {
        font-size: 60px;
        font-weight: 850;
    }

    h3 {
        font-size: 50px;
        font-weight: 650;
    }
}

.servicios-index {
    display: flex;
    justify-content: center;
    background-color: rgb(206, 32, 38);
    color: white;
    align-items: center;

    .titulo-mecanica-index {
        display: flex;
        flex-direction: column;

        .titulo-mecanica {
            font-size: 20px;
        }
    }
}

.titulo-accesorios-index {
    display: flex;
    flex-direction: column;
    border-right: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;

    .titulo-accesorios {
        font-size: 20px;
    }
}

.titulo-reparacion-index {
    display: flex;
    flex-direction: column;

    .titulo-reparacion {
        font-size: 20px;
    }
}

.ven-visitanos {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    height: 350px;

    img {
        width: 300px;
        height: 250px;
        margin: 50px;
    }

    .visitanos {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;

        p {
            max-width: 300px;
        }
    }
}

.que-ofrecemos-principal {
    background-color: rgb(227, 227, 227);

    .titulo-te-ofrecemos {
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 120px;
        justify-content: space-evenly;
        max-width: 1000px;
        margin: auto;

        h3 {
            font-size: 30px;
            padding-bottom: 20px;
        }
    }

    .que-ofrecemos {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 40px;

        img {
            width: 50px;
            height: 50px;
        }

        .ubicacion {
            display: flex;
            max-width: 300px;
            flex-direction: column;
            align-items: center;

            .ubicacion-index {
                width: 100px;
                height: 80px;
            }

            span {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            p {
                max-width: 200px;
                text-align: center;
            }
        }

        .pesos {
            display: flex;
            max-width: 300px;
            flex-direction: column;
            align-items: center;

            span {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            p {
                max-width: 200px;
                text-align: center;
            }
        }

        .estrella {
            display: flex;
            max-width: 300px;
            flex-direction: column;
            align-items: center;

            span {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            p {
                max-width: 200px;
                text-align: center;
            }
        }
    }
}

.marcas-calidad {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;

    h3 {
        font-size: 25px;
    }

    img {
        padding-top: 40px;
    }
}

/*inicio 768-----------------------------*/

@media (max-width: 768px) {

    header .menu-de-todos .container-fluid .titulo-arriba {
        font-size: 20px;
        padding-bottom: 20px;
    }

    header .menu-de-todos .container-fluid {
        flex-direction: column;
    }

    .menu-bot {
        margin-bottom: 15px;
    }

    .marcas-calidad img {
        padding-top: 40px;
        width: 350px;
        height: 250px;
    }

    .titulo-secundario {
        color: rgb(255, 255, 255);
        text-align: center;
        padding-top: 58px;
        padding-bottom: 66px;
    }

    .titulo-secundario h2 {
        font-size: 40px;
        font-weight: 850;
    }

    .titulo-secundario h3 {
        font-size: 30px;
        font-weight: 650;
    }

    .servicios-index .titulo-mecanica-index .titulo-mecanica {
        font-size: 15px;
    }

    .titulo-mecanica-index span {
        font-size: 13px;
    }

    .titulo-accesorios-index .titulo-accesorios {
        font-size: 15px;
    }

    .titulo-accesorios-index span {
        font-size: 13px;
    }

    .titulo-reparacion-index .titulo-reparacion {
        font-size: 15px;
    }

    .titulo-reparacion-index span {
        font-size: 13px;
    }

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 15px;
    }

    .que-ofrecemos-principal .titulo-te-ofrecemos {
        padding: 80px;
        margin: 0;
    }

    .que-ofrecemos-principal .titulo-te-ofrecemos h3 {
        font-size: 25px;
        font-weight: 700px;
        padding-bottom: 15px;
    }

    .que-ofrecemos-principal .titulo-te-ofrecemos p {
        font-size: 18px;
    }

    .que-ofrecemos-principal .que-ofrecemos .ubicacion {
        max-width: 600px;
    }

    .que-ofrecemos-principal .que-ofrecemos .ubicacion p {
        max-width: 600px;
    }

    .que-ofrecemos-principal .que-ofrecemos {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 40px;
        flex-direction: column;
        align-items: center;
    }

    .que-ofrecemos-principal .que-ofrecemos img {
        width: 70px;
        height: 70px;
    }

    .que-ofrecemos-principal .que-ofrecemos .pesos {
        max-width: 600px;
    }

    .que-ofrecemos-principal .que-ofrecemos .pesos p {
        max-width: 600px;
    }

    .que-ofrecemos-principal .que-ofrecemos .estrella {
        max-width: 600px;
    }

    .que-ofrecemos-principal .que-ofrecemos .estrella p {
        max-width: 600px;
    }

    .marcas-calidad {
        text-align: center;
        padding-top: 28px;
        padding-bottom: 26px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .antes-de-footer1 {
        .telefono{
            padding-right: 0px;
    }
}

.antes-de-footer1{
    .carta-simb {
        padding-left: 20px;
        padding-right: 20px;
    }
}

    .antes-de-footer .footer1 {
        padding-top: 0px;
        max-width: 300px;
        padding-left: 50px;
        padding-right: 40px;
    }

    .antes-de-footer .footer2 {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 20px;
        margin-left: 40px;
    }
}
/*fin 768-----------------------------*/

/*inicio 425---------------------------------------------------*/

@media (max-width: 425px) {
    .servicios-index {
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;

    }

    .titulo-accesorios-index {
        border-top: 2px solid rgb(255, 255, 255);
        border-bottom: 2px solid rgb(255, 255, 255);
        border-left: 0;
        border-right: 0;
    }

    .servicios-index .titulo-mecanica-index .titulo-mecanica {
        font-size: 18px;
        text-align: center;
    }

    .titulo-mecanica-index span {
        font-size: 15px;
    }

    .titulo-accesorios-index .titulo-accesorios {
        font-size: 18px;
        text-align: center;
    }

    .titulo-accesorios-index span {
        font-size: 15px;
        text-align: center;
    }

    .titulo-reparacion-index .titulo-reparacion {
        font-size: 18px;
        text-align: center;
    }

    .titulo-reparacion-index span {
        font-size: 15px;
        text-align: center;
    }

    .ven-visitanos {
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .visitanos {
        padding-top: 20px;

    }

    .ven-visitanos img {
        width: 300px;
        height: 250px;
        margin: 0;
    }

    .que-ofrecemos-principal .titulo-te-ofrecemos {
        padding: 25px;
    }

    .que-ofrecemos-principal .titulo-te-ofrecemos h3{
        font-size: 20px;
    }
    .que-ofrecemos-principal .titulo-te-ofrecemos p{
        font-size: 16px;
    }
    .que-ofrecemos-principal .que-ofrecemos .ubicacion  p {
        max-width: 350px;
    }

    .que-ofrecemos-principal .que-ofrecemos .pesos p {
        max-width: 350px;
    }

    .que-ofrecemos-principal .que-ofrecemos .estrella p {
        max-width: 350px;
    }

    .que-ofrecemos-principal .que-ofrecemos {
        padding: 0;
    }
    .marcas-calidad h3{
        font-size: 20px;
    }
    .marcas-calidad img {
        width: 300px;
        height: 200px;
    }
    .antes-de-footer1 {
        flex-direction: column;
    }

    .antes-de-footer1 .telefono {
        text-align: center;
        padding-bottom: 0px;
    }

    .antes-de-footer1 .telefono div {
        margin-bottom: 10px;
    }

    .antes-de-footer1 .carta-simb {
        border-right: 0px;
        border-left: 0px;
        border-top: 2px solid rgb(255, 255, 255);
        border-bottom: 2px solid rgb(255, 255, 255);
        padding-left: 80px;
        padding-right: 80px;
    }

    .antes-de-footer1 .carta-simb div {
        margin-bottom: 10px;
    }

    .antes-de-footer1 .hora-simb {
        padding-top: 0px;
    }

    .antes-de-footer1 .hora-simb div {
        margin-bottom: 10px;
    }

    .antes-de-footer {
        flex-direction: column;
        align-items: center;
    }

    .antes-de-footer .footer1 .footer1-experiencia {
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .antes-de-footer .footer1 {
        padding: 15px;
        max-width: 350px;
        text-align: center;
        border-bottom: 1px white solid;
    }

    .antes-de-footer .footer2 {
        border-bottom: 1px white solid;
        padding-left: 100px;
        padding-right: 100px;
        margin: 0px;
        max-width: 350px;
    }

    .antes-de-footer .footer3 {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
    }

    .antes-de-footer .footer3-visitanos {
        text-align: center;
    }
}

/* inicio 320-----------------------*/
@media (max-width: 320px){ 

    .ven-visitanos img {
       width: 250px;
       height: 200px;
   }

   .marcas-calidad h3 {
       max-width: 280px;
   }

   .marcas-calidad img {
       width: 250px;
       height: 200px;
   } 
   .antes-de-footer .footer2 {
    border-bottom: 1px white solid;
    padding-left: 15px;
    margin: 0px;
    
   }
}
