/* ---------------------------------------MQ------------------------------------------------------- */
/* ------------------------------MOBILE LAST-------------------------------------------------------------------- */


/* inicio mq 1024------------------------------------------------ */
/* pagge sobre nosotros----------------------------------- */
@media (max-width: 1024px) {
    .nosotros-experiencia img {
        width: 200px;
        height: 140px;
        padding: 1px;
    }

    .izquierda1 {
        padding-left: 15px;
    }

    .derecha1 {
        padding-left: 45px;
    }

    .nosotros-parrafo {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        text-align: center;
        align-items: center;
        padding-bottom: 0px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        font-size: 15px;
    }

    .arriba1 {
        padding-left: 3px;
    }

    .abajo1 {
        padding-left: 3px;
    }

    /* page seguros ---------------------------------- */
    .parte3 img {
        width: 150px;
        height: 100px;
    }

    .parte4 img {
        width: 150px;
        height: 100px;
    }

    /* HEADER ------------------------------------------ */
    .link a {
        font-size: 14px;
    }

    .titulo-arriba span {
        font-size: 18px;
    }

    header img {
        height: 130px;
        width: 180px;
    }
}