/* ---------------------------------------MQ------------------------------------------------------- */
/* ------------------------------MOBILE LAST-------------------------------------------------------------------- */


/* ------------- MAXIMO 768 PX ----------------------- */
@media (max-width: 768px) {

    /* ----------------index----------------------- */
    .titulo-arriba {
        font-size: 20px;
    }

    .container-fluid {
        flex-direction: column;
    }

    .menu-bot {
        margin-bottom: 15px;
    }

    .marcas-calidad img {
        padding-top: 40px;
        width: 350px;
        height: 250px;
    }

    .titulo-secundario {
        color: rgb(255, 255, 255);
        text-align: center;
        padding-top: 58px;
        padding-bottom: 66px;
    }

    .titulo-secundario h2 {
        font-size: 40px;
        font-weight: 850;
    }

    .titulo-secundario h3 {
        font-size: 30px;
        font-weight: 650;
    }

    .titulo-mecanica {
        font-size: 15px;
    }

    .titulo-mecanica-index span {
        font-size: 13px;
    }

    .titulo-accesorios {
        font-size: 15px;
    }

    .titulo-accesorios-index span {
        font-size: 13px;
    }

    .titulo-reparacion {
        font-size: 15px;
    }

    .titulo-reparacion-index span {
        font-size: 13px;
    }

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 15px;
    }

    .titulo-te-ofrecemos {
        padding: 80px;
        margin: 0;
    }

    .titulo-te-ofrecemos h3 {
        font-size: 25px;
        font-weight: 700px;
        padding-bottom: 15px;
    }

    .titulo-te-ofrecemos p {
        font-size: 18px;
    }

    .ubicacion {
        max-width: 600px;
    }

    .ubicacion p {
        max-width: 600px;
    }

    .que-ofrecemos {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 40px;
        flex-direction: column;
        align-items: center;
    }

    .que-ofrecemos img {
        width: 70px;
        height: 70px;
    }

    .pesos {
        max-width: 600px;
    }

    .pesos p {
        max-width: 600px;
    }

    .estrella {
        max-width: 600px;
    }

    .estrella p {
        max-width: 600px;
    }

    .marcas-calidad {
        text-align: center;
        padding-top: 28px;
        padding-bottom: 26px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .telefono {
        padding-right: 0px;
    }

    .carta-simb {
        padding-left: 20px;
        padding-right: 20px;
    }

    .carta-simb {
        padding-left: 20px;
    }

    .footer1 {
        padding-top: 0px;
        max-width: 300px;
        padding-left: 50px;
        padding-right: 40px;
    }

    .footer2 {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 20px;
        margin-left: 40px;
    }

    /* -------------------------------page sobre nosotros---------------------------- */
    .grid-padre {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .arriba1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .arriba1 img {
        margin: 6px;
    }

    .izquierda1 {
        padding-right: 100px;
        padding-bottom: 20px;
    }

    .izquierda1 img {
        padding-left: 0px;
        margin-top: 10px;
        margin-left: 80px;
    }

    .nosotros-parrafo {
        padding-bottom: 30px;
    }

    .derecha1 {
        padding-right: 100px;
        padding-bottom: 20px;
    }

    .derecha1 img {
        padding-left: 0px;
        margin-top: 10px;
        margin-left: 80px;
    }

    .abajo1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .abajo1 img {
        margin: 6px;
    }

    /* -----------------------page servicios ------------------------------- */
    .servicios-completos img {
        height: 100px;
        width: 100px;
    }

    .que-servicios-necesitas {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .que-servicios-necesitas p {
        max-width: 580px;
        padding-top: 20px;
        text-align: center;
    }

    .parte1 {
        text-align: center;
        padding-bottom: 30px;
        flex-direction: column;
        align-items: center;
    }

    .parte1 p {
        margin-top: 10px;
        max-width: 580px;
    }

    .parte2 {
        text-align: center;
        padding-bottom: 30px;
        flex-direction: column;
    }

    .parte2 p {
        margin-top: 10px;
        max-width: 580px;
    }

    /* ----------------------page seguros----------------------- */
    .parte3 {
        flex-direction: column;
        align-items: center;
    }

    .parte3 img {
        width: 350px;
        height: 200px;
    }

    .parte4 {
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
    }

    .parte4 img {
        width: 350px;
        height: 200px;
    }

    /* --------------------- PAGE CONTACTO---------------- */

    h1 {
        font-size: 30px;
    }

    .info {
        padding: 10px;
        border: 10px dotted rgb(61, 20, 20);
        margin-bottom: 80px;
    }

    .form {
        padding: 10px;
    }

    .formulario {
        flex-direction: column;
    }

    .mapa {
        height: 400px;
        width: 80%;
        padding-bottom: 40px;
    }
}