/* --------------------------- page servicios-------------------- */
.que-servicios-necesitas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;
    p {
        max-width: 800px;
        padding-top: 20px;
        text-align: center;
    }
}
.servicios-completos {
    img {
        height: 60px;
        width: 60px;
    }
    .parte1 {
        display: flex;
        padding-bottom: 100px;
        justify-content: space-evenly;
        p {
            max-width: 300px;
        }
        .martillo-llave {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .revision-simb {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .aceite-simb {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .parte2 {
        display: flex;
        padding-bottom: 100px;
        justify-content: space-evenly;
        p {
            max-width: 300px;
        }
        .remolque {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .neumaticos {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .bateria {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.contactanos {
    text-align: center;
    padding-bottom: 30px;
    a {
        text-decoration: none;
        color: white;
        background-color: rgb(206, 32, 38);
        padding: 10px;
    }
}
/*inicio 768-------------------------*/

@media (max-width: 768px) {
    .servicios-completos img {
        height: 100px;
        width: 100px;
    }

    .que-servicios-necesitas {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .que-servicios-necesitas p {
        max-width: 580px;
        padding-top: 20px;
        text-align: center;
    }

    .servicios-completos .parte1 {
        text-align: center;
        padding-bottom: 30px;
        flex-direction: column;
        align-items: center;
    }

    .servicios-completos .parte1 p {
        margin-top: 10px;
        max-width: 580px;
    }

    .servicios-completos .parte2 {
        text-align: center;
        padding-bottom: 30px;
        flex-direction: column;
    }

    .servicios-completos .parte2 p {
        margin-top: 10px;
        max-width: 580px;
    }
}

/* inicio 425----------------------------*/
@media (max-width: 425px) {
    .que-servicios-necesitas p {
        max-width: 380px;
    }

    .servicios-completos .parte1 p {
        max-width: 380px;
    }

    .servicios-completos .parte2 p {
        max-width: 380px;
    }
}

/* inicio 320 ------------------------------ */
@media (max-width: 320px){
    h2 {
        text-align: center;
    }

    .servicios-completos .parte1 p {
        max-width: 280px;
    }

    .servicios-completos .parte2 p {
        max-width: 280px;
    }

    
}