/* -------------------------------------------- page sobre nosotros------------------------------------- */
.nosotros-experiencia {
    padding-top: 100px;
    padding-bottom: 100px;

    h2 {
        text-align: center;
        padding-bottom: 70px;
    }

    img {
        width: 350px;
        height: 300px;
        padding: 5px;
    }

    /*------------------------------GRID------------------ */
    .grid-padre {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        align-items: center;
        grid-template-areas:
            "arriba1 arriba1 arriba1 arriba1"
            "izquierda1 medio1 medio1 derecha1"
            "izquierda1 medio1 medio1 derecha1"
            "abajo1 abajo1 abajo1 abajo1";
    }

    .medio1 {
        grid-area: medio1;
    }

    .nosotros-parrafo {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        text-align: center;
        align-items: center;
        padding: 10px;
        margin-left: 230px;

        p {
            padding-bottom: 20px;
        }

        span {
            padding-bottom: 20px;
        }

        a {
            background-color: rgb(206, 32, 38);
            padding-top: 10px;
            text-decoration: none;
            color: black;
            max-width: 150px;
        }
    }

    .arriba1 {
        grid-area: arriba1;
        padding-left: 65px;
    }

    .izquierda1 {
        grid-area: izquierda1;
        padding-left: 65px;
    }

    .derecha1 {
        grid-area: derecha1;
        padding-left: 55px;
    }

    .abajo1 {
        grid-area: abajo1;
        padding-left: 65px;
    }
}